* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5vh;
    width: 100%;
    background-color: #FF9800;
    position: relative;
    z-index: 1;
    
    box-shadow: -1px 4px 22px 4px rgba(0,0,0,0.3);
-webkit-box-shadow: -1px 4px 22px 4px rgba(0,0,0,0.4);
-moz-box-shadow: -1px 4px 22px 4px rgba(0,0,0,0.5);
}
body {
    background-color: #175264;
}

.logo {
    display: flex;
    width: 40%;
    height: 10vh;
    
}
.logo img {
    padding-left: 3rem;
}

.menu {
    display: flex;
    width: 60%;
    height: 4vh;
    justify-content: space-evenly;
    align-items: center;
}


.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0 30px;
}

.menu a:hover {
    transition: 0.5s all;
    background: white;
    padding: 5px 25px;
    border-radius: 25px;
    color: #FF9800;
}
.lupa {
    width: 50px;
    padding: 2px 10px;
    border-radius: 25px;
    background-color: white;
    border: #ffffff solid 2px;
}

.lupa:hover {
    transition: 0.5s all;
    padding: 2px 70px;
    padding-right: 40px;
}

main { 
    width: 100%;
    
}
.esquerda {
    margin-top: 40px;
    padding-left: 20px;
}
.esquerda h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;

}
.esquerda input {
    border: white 1px solid;
    border-radius: 25px;
}
.esquerda img {
    width: 18px;
    padding-left: 10px;
}
.inputs {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}