* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5vh;
  width: 100%;
  background-color: #ff990000;
  position: relative;
  z-index: 1;
 /*  box-shadow: -1px 4px 22px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 4px 22px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 4px 22px 4px rgba(0, 0, 0, 0.5); */
  width: 100%;
  display: flex;
  background-image: linear-gradient(to left, #0000 0%, #233274 65%);
  backdrop-filter: blur(1.5px);
}
body {
  background-image: url(img/marcozero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  display: flex;
  margin-top: 1.5rem;
  width: 10%;
  height: 10vh;
}
.logo img {
  width: 40px;
  height: 40px;
  padding-left: 3rem;
}

.menu {
  display: flex;
  width: 60%;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.menu a {
  font-size: 13px;
  box-shadow: -.5px 1px 3px #020824;
  text-decoration: none;
  color: #233274;
  text-transform: uppercase;
   font-weight: bolder;
  padding: 0 30px;
  border-radius: 25px;
  background-color: #fff;  
  
  
}

.menu a:hover {
  transition: 0.5s all;
  background: white;
/*   padding: 5px 25px; */
  border-radius: 25px;
  color: #ff9800;
}
.lupa {
  width: 8%;
  height: 20px;
  padding: 0px 0px;
  border-radius: 25px;
  background-color: white;
  border: #ffffff solid 2px;
}

.lupa:hover {
  transition: 0.5s all;
  padding: 2px 20px;
  padding-right: 40px;
}

main {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to left, #0000 0%, #233274 65%);
  backdrop-filter: blur(.8px);
}

.esquerda {
  color: white;
  width: 40%;
  height: 92vh;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  /* align-items: ; */
}
.esquerda h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4rem;
}
.esquerda p {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
}

.esquerda a {
  border-radius: 20px;
  border: none;
  width: 9rem;
  text-decoration: none;
  margin-top: 1.8rem;
  background-color: #ff9800;
  color: white;
  margin-left: 150px;
  text-align: center;
  padding: 8px 4px;
  font-weight: 600;
}

.esquerda a:hover {
  color: #ff9800;
  background-color: white;
}

/* .direita {
        color: #ffff;
        font-weight: bold;
        display: flex;
        width: 50%;
        height: 92vh;
    }
 */
/*Estilo do Contato.html*/

.formulario {
  max-width: 650px;
  text-align: center;
  margin: 20px auto;
}

.formulario input,
form textarea {
  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline;

  width: 90%;
  margin-top: 16px;
  font-family: "open_sansregular";
  font-size: 16px;
  color: #424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.formulario input:focus,
.formulario textarea:focus {
  color: #3cafe7;
  -moz-box-shadow: 0 0px 2px #3cafe7 !important;
  -webkit-box-shadow: 0 0px 2px #3cafe7 !important;
  box-shadow: 0 0px 2px #3cafe7 !important;
}

.formulario .btn-submit {
  color: #fff;
  background: #ff9800;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
}

.formulario .btn-submit:hover {
  background-color: #424242;
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.formulario textarea {
  height: 174px;
}

.metade {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  main {
    background-image: linear-gradient(to bottom, #0000 0%, #1e4957 90%);
  }

  .esquerda {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /* .logo {
     margin-top: 5%;
    padding-bottom: 5%; 
  }
*/
  
 */
  .logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  header {
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 2%;
    margin: 0;
  }

  .menu {
    
    font-size: 14px;
    margin-top: 5%;
    

  }

  a:hover{
    background: none;

  }

}
